@use "sass:map";
@use "sass:color";
@use "../../styles/global_variables" as gv;

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 30%;
    height: 100%;
    align-self: center;
    border-radius: 10px;
    background-color: map.get(gv.$colors, "second");

    a {
        text-decoration: none;
    }

    .card-text {
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        align-items: center;

        .project-title {
            font-size: 16px;
            margin-left: 15px;
            color: map.get(gv.$colors, "gray");
            font-family: map.get(gv.$font-family, "text");  
        }
    
        .button {
            padding: 10px 30px;
        }
    }

    .project-slideshow {
        position: absolute;
        border-radius: 10px;
        object-fit: cover;
    }

}
