@use "sass:map";
@use "sass:color";
@use "./global_variables" as gv;

main {
    font-family: gv.$font-family;
    margin: 7px 20px 7px 20px;
    

    @media (min-width: gv.$desktop-width-min) {
        margin: 38px 100px 38px 100px;
    }
}



