@use "sass:map";
@use "sass:color";
@use "../../styles/global_variables" as gv;

footer {
    background-color: map.get(gv.$colors, "first");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 66px 130px 46px 130px;
}

.logo-footer {
    object-fit: cover;
    height: 100%;
    width: 122px;
    align-self: center;
}

.siteProperty {
    align-self: center;
    color: map.get(gv.$colors, "gray");
    text-align: center;
    font-size: 12px;
}

@media (min-width: gv.$desktop-width-min) {

    footer {
        row-gap: 10px;
        padding: 66px 483px 29px 483px;
    }

    .siteProperty {
        font-size: 24px;
    }
}