h1, h2, h3{
    color: rgb(0,0,0);
    background-color: rgb(221,221,221);
}

#objTexte,#container,#boutonCreerOBJ,#boutonRemplacerOBJ{
display: inline-block;
}

#couleurdiv{
    width: 100px;
    height: 100px;
}


