@use "sass:map";
@use "sass:color";
@use "../../styles/global_variables" as gv;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 27px 20px;
    background-color: map.get(gv.$colors, "first");
    box-shadow: inset 0px -3px 8px 0px map.get(gv.$colors, "second");
}

.logo-cv {
    object-fit: cover;
    height: 100%;
    width: 36px;
}

.menu {
    display: flex;
    justify-content: space-between;
    column-gap: 26px;

    a {
        text-decoration: none;
        color: map.get(gv.$colors, "gray");
        font-family: map.get(gv.$font-family, "title");
        font-size: 12px;
        align-self: center;
    }

    a:hover {
        border-bottom-style: solid;
        border-bottom-color: map.get(gv.$colors, "first");
        border-width: 1px;
    }

}

.my-name {
    color: map.get(gv.$colors, "gray");
    font-family: map.get(gv.$font-family, "title");
    font-size: 16px;
}

nav .active {
    text-decoration: underline;
}

@media (min-width: gv.$desktop-width-min) {

    header {
        padding: 25px 80px 25px 80px;
    }

    .logos-links {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        img {
            width: 50px;
            height: 100%;
            object-fit: contain;
        }
    }

    .menu {
        column-gap: 45px;

        a {
            font-size: 24px;
        }
    }

    .my-name {
        font-size: 30px;
        margin: 0;
    }
}