@use "sass:map";
@use "sass:color";
@use "../../styles/global_variables" as gv;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    background-color: map.get(gv.$colors, "first");
    box-shadow: inset 0px -3px 8px 0px map.get(gv.$colors, "second");

    @media (min-width: gv.$desktop-width-min) {
        padding: 25px 80px 25px 80px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    @media (min-width: gv.$desktop-width-min) {
        column-gap: 45px;
    }

    a {
        text-decoration: none;
        color: map.get(gv.$colors, "gray");
        font-family: map.get(gv.$font-family, "title");
        font-size: 10px;
        align-self: center;

        @media (min-width: gv.$desktop-width-min) {
            transition: color 800ms, font-size 800ms;
            font-size: 24px;
        }

        &:hover {
            border-bottom-style: solid;
            border-bottom-color: map.get(gv.$colors, "first");
            border-width: 1px;

            @media (min-width: gv.$desktop-width-min) {
                color: lighten(map.get(gv.$colors, "third"), 20);
                font-size: 26px;
            }
        }
    }
}

nav .active {
    text-decoration: underline;
}

.logos-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (min-width: gv.$desktop-width-min) {
        gap: 15px;
    }

    img {
        width: 17px;
        height: 100%;
        object-fit: contain;

        @media (min-width: gv.$desktop-width-min) {
            width: 50px;
            height: 100%;
            object-fit: contain;
        }
    }
}